

             <div class="flex-container">
             <header>
            <h1>Pick n Pay online</h1>
            <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div>
                            <ul class="nav navbar-nav navbar-right">
                                <a ng-href="#!/home" class="btn btn-default submit-button" role="button" ng-click="">Log out</a> 
                            </ul>
                          
                        </div>
                    </div>
                </nav>
          </header>

          <nav class="nav">
               <ul>
                    <li><h4>Operations</h4></li>
                </ul>
           <ul>
             <li><a ng-href="#!/addproduct">Add new products</a></li>
             <li><a ng-href="#!/edit_deleteproduct">Delete or edit a product</a></li>
             <li><a ng-href="#!/vieworders">View all orders</a></li>
             <li><a ng-href="#!/viewaccounts">View all accounts</a></li>
           </ul>
        </nav>

                 
                 
            
                 
                 
                 
                 
         <article class="article">
         <h1>Administration</h1>
         
         <img src="img/adminssssssss.jpg" alt=""/>
         
          </article>

          <footer>Copyright &copy; Prince.Pick n Pay</footer>
          </div>

