
             <div class="flex-container">
             <header>
            <h1>Pick n Pay online</h1>
           <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div>
                            <ul class="nav navbar-nav navbar-right">
                               <a class="btn btn-default submit-button" role="button" ng-click="logout('/logout')">Log out</a>                             
                            </ul>
                        </div>
                    </div>
                </nav>
          </header>

        

         <article class="article">
     
          
                <h1>Thank you for shopping with us. You are welcome to visit again</h1>
                
                <img src="img/checkout.jpg" alt=""/>
                
                <p>
                   Pick and Pay is a quality family store focused on the customer. The first few stores were purchased by the consumer champion Raymond Ackerman in 1967. He’s vision has grown and expanded to now encompass stores in South Africa, Namibia,Botsawana ,
                   Zambia ,Mozambique,Mauritius,Swaziland and Lesotho.
                   Pick n Pay owns a 49% share of a Zimbabwean supermarket business. 
                </p>
                
                <p>
                    Pick and pay focuses on offering customers with groceries, clothing and general merchandise. 
                    It also includes additional value added services to take care of customers’ expectations and evolving needs.
                </p>
                    
               
          </article>

          <footer>Copyright &copy; Prince.Pick n Pay</footer>
          </div>

              