
             <div class="flex-container">
             <header>
            <h1>Pick n Pay online</h1>
           <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div>
                            <ul class="nav navbar-nav navbar-left">
                             <li><a ng-href="#!/admin"><span class="glyphicon glyphicon-align-left"></span>Back to administration page</a></li> 
                                                                 
                            </ul>
                              <ul class="nav navbar-nav navbar-right">
                               <a ng-href="#!/home" class="btn btn-default submit-button" role="button" ng-click="">Log out</a>                             
                            </ul>
                        </div>
                    </div>
                </nav>
          </header>

        

         <article class="article">
        <div>
                    <h3>
                        <b>
                            All customer accounts

                        </b>
                    </h3>

                    

                    <form ng-submit="">     

                        <div class="table-responsive ">
                               <table class="table ">
                                <thead>
                                    <tr>
                                        
                                        <td>Customer name</td>
                                        <td>Customer cell phone</td> 
                                         <td>Customer email</td> 
                                        <td>Customer address</td>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="customer in customers" >
                                    
                                         
                                       <td class="">                                            
                                           {{customer.firstname}}
                                        </td>
                                        <td class="">
                                          {{customer.cellphonNumber}}
                                        </td>
                                        <td class="" >
                                            
                                          {{customer.email}}
                                        </td>
                                        <td class="">                                            
                                         
                                          {{customer.address}}
                                       </td>

                                    </tr>
                                </tbody>
                            </table>                    
                        </div>
                        
                        
                        
                    </form> 
                </div> 
               
          </article>

          <footer>Copyright &copy; Prince.Pick n Pay</footer>
          </div>
